@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Razor</title>

</head>

<body>

    <p>
        <strong>
            1. Dichiarare una variabile valorizzandola con il nostro nome.
            Dichiarare un'altra variabile valorizzandola con il nostro cognome.
            Stampare il nostro nome e cognome all'interno di un tag h2.
        </strong>
    </p>

    @{
        string nome = "Katia";
        string cognome = "Losignore";
    }

    <h2>@nome @cognome</h2>


</body>