* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('/img/background.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}
