@{
    Layout = "_LayoutUser";
}

@section StyleUser{

    <link rel="stylesheet" href="~/css/mystyleuser.css" />
}

 

  <h1 class="text-danger text-center display-2 mt-5 fw-bold">Benvenuto nel sito della mia pizzeria</h1>
   




